<header class="container-fluid  border-bottom">
  <section class="row">

    <aside class="col-lg-2 d-none d-lg-block">
      <a href="{{ url_for('post.main') }}">
        <img src="{{ url_for('static', filename='images/Logo_OURWIKI.png') }}" alt="Logo OURWIKI" class="img-fluid">
      </a>
    </aside>

    <nav class="col-12 col-lg-6 fs-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('post.main') }}">
              ВСЕ СТАТЬИ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="{{ url_for('post.create_post') }}">
              НОВАЯ СТАТЬЯ
            </a>
          </li>
        </ul>
    </nav>

    {% if not g.user %}
    <aside class="col-lg-4 fs-3 d-flex justify-content-around p-1">
      <a href="{{ url_for('auth.login') }}" class="text-decoration-none link-dark">
        ВХОД
      </a>
      <a href="{{ url_for('auth.register') }}" class="text-decoration-none link-dark">
        РЕГИСТРАЦИЯ
      </a>
    </aside>
    {% else %}
    <aside class="col-lg-4 fs-3 d-flex justify-content-around p-2">
      <a href="{{ url_for('auth.profile') }}" class="text-decoration-none link-dark">
        ПРОФИЛЬ
      </a>
      <a href="{{ url_for('auth.logout') }}" class="text-decoration-none link-dark">
        ВЫЙТИ
      </a>
    </aside>
    {% endif %}


  </section>
</header>