<header class="container-fluid p-3 border-bottom">
  <div class="row">

    <div class="col-lg-2 d-none d-lg-block">
      <a href="{{ url_for('main_page') }}">
        <img src="{{ url_for('static', filename='images/Logo_OURWIKI.png') }}" alt="Logo OURWIKI" class="img-fluid">
      </a>
    </div>

    <div class="col-12 col-lg-6 fs-3">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('main_page') }}">
              Все статьи
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="{{ url_for('create_post') }}">
              Новая статья
            </a>
          </li>
        </ul>
    </div>

    <div class="col-lg-4 fs-3 d-flex justify-content-around p-1">
      <a href="{{ url_for('login') }}" class="text-decoration-none link-dark">
        Вход
        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ff8000; font-size: 20px;"></i>
      </a>
      <a href="{{ url_for('register') }}" class="text-decoration-none link-dark">
        Регистрация
        <i class="fa-solid fa-user-plus" style="color: #ff8000; font-size: 20px;"></i>
      </a>
    </div>

    <!--<div class="col-lg-4 fs-3 d-flex justify-content-around p-1">
      <a href="#" class="text-decoration-none link-dark">
        Мой профиль
        <i class="fa-solid fa-user" style="color: #ff8000; font-size: 20px;"></i>
      </a>
    </div>-->


  </div>
</header>