<section class="col-lg-9">
  <article>
    <h2 class="p-2 border-bottom">Название статьи</h2>
    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis dolor dolorem doloremque eligendi facilis illo impedit ipsa iste labore libero maxime odio omnis praesentium quibusdam quos rem repellat repudiandae rerum, sequi tempora unde veniam vitae voluptas voluptatibus. Cupiditate illo illum itaque necessitatibus quidem vel voluptate. Doloremque enim iure quibusdam?</p>
    <p class="p-2">
      Автор статьи: <a href="" style="text-decoration: none; color: #ff8000;">username</a>
    </p>
  </article>
  <article>
    <h2 class="p-2 border-bottom">Название статьи</h2>
    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis dolor dolorem doloremque eligendi facilis illo impedit ipsa iste labore libero maxime odio omnis praesentium quibusdam quos rem repellat repudiandae rerum, sequi tempora unde veniam vitae voluptas voluptatibus. Cupiditate illo illum itaque necessitatibus quidem vel voluptate. Doloremque enim iure quibusdam?</p>
    <p class="p-2">
      Автор статьи: <a href="" style="text-decoration: none; color: #ff8000;">username</a>
    </p>
  </article>
  <article>
    <h2 class="p-2 border-bottom">Название статьи</h2>
    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis dolor dolorem doloremque eligendi facilis illo impedit ipsa iste labore libero maxime odio omnis praesentium quibusdam quos rem repellat repudiandae rerum, sequi tempora unde veniam vitae voluptas voluptatibus. Cupiditate illo illum itaque necessitatibus quidem vel voluptate. Doloremque enim iure quibusdam?</p>
    <p class="p-2">
      Автор статьи: <a href="" style="text-decoration: none; color: #ff8000;">username</a>
    </p>
  </article>
</section>