{% extends 'base.html' %}

{% block main %}
<main class="container">
  <section class="p-5">
    <h2 class="text-center">Профиль</h2>
    {{ g.user['username'] }}
    {% for post in posts %}
    <article>
      <h2 class="p-2 border-bottom">{{ post['title'] }}</h2>
      <p class="p-2">{{ post['description'] }}</p>
      <p class="p-2">
        Автор статьи: <a href="" style="text-decoration: none; color: #ff8000;">username</a>
      </p>
    </article>
  {% endfor %}
  </section>
</main>
{% endblock main %}