{% extends 'base.html' %}

{% block main %}
<main class="container">
  <section class="p-5">
    <form action="">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Введите ваш Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Пароль</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPasswordRepeat" placeholder="Password">
        <label for="floatingPasswordRepeat">Повторите пароль</label>
      </div>
      <button class="btn fs-4" style="background-color: #ff8000;">Регистрация</button>
    </form>
  </section>
</main>
{% endblock main %}