{% extends 'base.html' %}

{% block main %}
<main class="container">
  <section class="p-5">
    <form action="{{ url_for('auth.register') }}" method="POST">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username">
        <label for="floatingInput">Имя пользователя</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password">
        <label for="floatingPassword">Пароль</label>
      </div>
      <button class="btn fs-4" style="background-color: #ff8000;">Регистрация</button>
    </form>
  </section>
</main>
{% endblock main %}