{% extends 'base.html' %}

{% block main %}
<main class="container">

    <section class="p-3">
        <h2 class="text-center py-3">Новая статья</h2>
        <form action="{{ url_for('post.create_post') }}" method="POST">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" name="title">
              <label for="floatingInput">Название статьи</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingTextarea" name="description" style="height: 200px;"></textarea>
              <label for="floatingTextarea">Описание статьи</label>
            </div>
            <input type="submit" class="btn fs-4" style="background-color: #ff8000;" value="Создать">
        </form>
    </section>


</main>
{% endblock main %}
